# =========================
# Compiled Object Files
# =========================
*.o
*.lo
*.a
*.so

# =========================
# Executables
# =========================
*.out
*.exe
*.app
a.out
Project2_group*

# =========================
# Debug / Core Dumps
# =========================
*.dSYM/
*.su
*.idb
*.pdb
*.stackdump
core
core.*

# =========================
# Build Directories
# =========================
build/
bin/
dist/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Submission Zip Files
# =========================
*.zip
